.popup__wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 150;
    background-color: white;
    z-index: 1000;
    height: 100rem;
    
}

.popup__close{
    position: fixed;
    right: 5px;
    top: 15px;
    z-index: 200;
    
}

.popup__close::before{
    margin-top: 4px;
    content: '';
    display: block;
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    transform: rotate(-405deg);

}
.popup__close::after{
    margin-top: -4px;
    content: '';
    display: block;
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    transform: rotate(405deg);

}



.popup__catalog{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: row;

}

.popup__item{
    width: 35%;
    padding: 10px;
    height: 30rem;

    overflow-y: scroll;
}


.item, .item-in{
    margin: 10px 0;
    font-size: 16px;
    text-decoration: none;
    min-height: 30px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    min-width: 200px;
}



.item:hover{
    
    background: url(https://comtrading.ua/assets/images/search-category_tab.png) no-repeat 0 0;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
}

.popup__item-info{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 10px;
    height: 30rem;
    overflow-y: scroll;
}