.wrapper {
	margin-right: 10%;
	margin-left: 10%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: flex;
}

.info {
	margin: 30px 0 10px 0;
}

h1,
p {
	margin: 5px 0;
	padding: 0;
}

.product_details {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;


}

.product-images {
	width: 50%;

}

.avibile {
	font-size: 14px;
	font-weight: 700;
	color: #44a038;
}

.product-images>img {
	width: 100%;

}

.product-info {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	text-align: left;

}


.product-buttons {
	width: 100%;

}

.button{
	width: 200px;
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	background: none;
	z-index: 1;
	padding: 20px 0;
	border: 2px solid  #1b1b1b;
	color: var(--tg-theme-text-color);

}


@media (max-width: 990px){
	.product_details {
		flex-direction: column;
	}
	.product-images{
		margin-bottom: 10%;
		width: 90%;
	}

	.wrapper {
		margin: 0;
	}

	.product-info {
		padding: 0;
		width: 90%;
	}
}