* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

a{
  text-decoration: none;
  color: var(--tg-theme-text-color);
}

.button-send{
  border: none;
}